<div class="carousel" data-flickity='{ "bgLazyLoad": true, "wrapAround": true, "autoPlay": 2700, "pauseAutoPlayOnHover": false, "prevNextButtons": false, "pageDots": false}'>
    {% for image in site.static_files %}
        {% if image.path contains 'img/homepage' %}
            <!--<img src="{{ site.baseurl }}{{ image.path }}" alt="image" />-->
            <div class="carousel-cell"
            data-flickity-bg-lazyload="{{ site.baseurl }}{{ image.path }}"></div>
        {% endif %}
    {% endfor %}
</div>