<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {% include header.html %}
    {% if page.layout == 'home' %}
     {% include home-bg.html %}
    {% endif %}
    {% if page.layout == 'post' or page.layout == 'post-radio' or page.layout == 'quaderni' %}
     {% include post-bg.html %}
    {% endif %}
    
    {% if page.layout == 'home' %}
      {{ content }}
    {% else %}
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
    {% endif %}

    {%- include footer.html -%}

    {% if page.layout == 'home' %}
     <!-- jQuery 1.8+ -->
     
    <script src="{{ site.baseurl }}/plugin/components/jQuery/jquery-1.11.3.min.js"></script>
    <script src="{{ site.baseurl }}/plugin/js/flickity.pkgd.min.js"></script>
	
     <!-- Media Boxes JS files -->
    	<script src="{{ site.baseurl }}/plugin/components/Isotope/jquery.isotope.min.js"></script>
    	<script src="{{ site.baseurl }}/plugin/components/imagesLoaded/jquery.imagesLoaded.min.js"></script>
    	<script src="{{ site.baseurl }}/plugin/components/Transit/jquery.transit.min.js"></script>
    	<script src="{{ site.baseurl }}/plugin/components/jQuery Easing/jquery.easing.js"></script>
    	<script src="{{ site.baseurl }}/plugin/components/jQuery Visible/jquery.visible.min.js"></script>
    	<script src="{{ site.baseurl }}/plugin/components/Modernizr/modernizr.custom.min.js"></script>
    	<script src="{{ site.baseurl }}/plugin/components/Magnific Popup/jquery.magnific-popup.min.js"></script>
    	<script src="{{ site.baseurl }}/plugin/js/jquery.mediaBoxes.dropdown.js"></script>
    	<script src="{{ site.baseurl }}/plugin/js/jquery.mediaBoxes.js"></script>

    	<script>

        $('#grid').mediaBoxes({
          filterContainer: '#filter',
          search: '#search',
          overlayEffect: 'push-up',
          columns: 4,
          boxesToLoadStart: 12,
          boxesToLoad: 6,
          horizontalSpaceBetweenBoxes: 15,
            verticalSpaceBetweenBoxes: 25,
            deepLinkingOnFilter: false,
            popup: 'magnificpopup',
            LoadingWord: 'Loading...',
          loadMoreWord: 'Carica altro',
          noMoreEntriesWord: ''
        }); 

       </script>
    {% endif %}

  </body>

</html>